* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    flex-wrap: nowrap;
    height: 100dvh;
    width: 100dvw;
    background-color: hsl(0, 0%, 86%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main {
    height: 70dvh;
    min-width:30dvw;
    max-width: 90dvw;
    background-color: hsl(0, 0%, 100%);
    border-radius: 1.5rem .9rem 12.5rem 1.5rem;
}

.form {
    display: flex;
    align-items: center;
    justify-content: start;
    padding: 3rem;
}


.input-box {
    display: flex;
    flex-direction: column;
   
    }


.form input {
    height: 4rem;
    max-width: 4rem;
    margin-right: 1rem;
    margin-top: .4rem;
    border-radius: .3rem;
    border: 1px solid hsl(0, 0%, 86%);
    font-size: 1rem;
    color: hsl(0, 0%, 8%);
    font-weight: 600;
    padding: 0.7rem;

}
.form label {
    color: hsl(0, 1%, 44%);
    font-weight: 600;
    text-transform: uppercase;
}

.results {
    margin-left: 3rem;
    line-height: 4.5rem;
    font-size: 1.5rem;
    font-weight: bolder;
    margin-top: -2rem;
}

hr {
    width: 72dvw;
    margin-left: 3rem;
    margin-right: 6rem;
    border: none;
    border-top: 2px solid hsl(0, 0%, 86%);
    ;


}

.btn {
    position: relative;
    top: -2rem;
    left: 9rem;
    background-color: hsl(259, 100%, 65%);
    border: none;
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 6rem;
    cursor: pointer;
}

.results span {
    color: hsl(259, 100%, 65%);
} 
.error{
    color: red;
    font-size: 0.6rem;
    width: 100%;
   
}
label.error {
    font-size: 0.5rem;
    color: red;
  }
.input-box input.invalid {
    border: 2px solid red;
  }
@media (min-width: 700px) and (max-width:1020px) {
    main {  
        /* min-width: 50dvw;      */
        max-width: 80dvw;
       
    }
    .form input {
        height: 4rem;
        max-width: 9rem;
        font-size: 2.3rem;  
  }
  .results {
    margin-top: 0.3rem;
    font-size: 2.3rem;
 
}
hr{
    width: 45dvh;
    margin-top: 1rem;
}
.btn{
    top: -2.5rem;
    left: 15rem;
    width: 5rem;
    height: 5rem;
}

}
@media(min-width: 1021px){
    main {  
        /* min-width: 50dvw;      */
        max-width: 50dvw;
       
    }
    .form input {
        height: 4rem;
        max-width: 9rem;
        font-size: 2.6rem;  
  }
  .results {
  
    font-size: 2.6rem;
 
}
hr{
    width: 58dvh;
    margin-top: 1rem;
}
.btn{
    top: -2.7rem;
    left: 15rem;
    width: 5rem;
    height: 5rem;
}

}